* {
  font-family: Maple Mono;
  font-size: 16px;
  background: transparent;
  color: #83C092;
}

#window {
  color: alpha(#0E0E0E, 0.85);
  border-color: alpha(#0E0E0E, 1.0);
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-color: alpha(#0e0e0e, 0.85);
  border-radius: 14px;
}
#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #83C092;
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #0E0E0E;
  color: #83C092;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 8px;
}

#entry:selected {
  border-style: none;

  color: #83C092;
  font-weight: bold;
  outline: none;
}

#input {
  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}

#input:focus {
  border-color: alpha(#83C092, 0.9);
  font-style: normal;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
