# Ignore Emacs/Vim temporary files
*~
\#*\#
/.emacs.d/.local/
.netrwhist
undo/

# Ignore Python/Node caches
__pycache__/
node_modules/

# Ignore thumbnails and sockets
.thumbnails/
*.sock

# Ignore music files
*.mp3
*.flac
*.wav
*.m4a
*.ogg
*.opus

# Ignore music folders specifically within mpd or other configs
**/music/
**/mpd/.config/mpd/music/
**/mpd/.config/mpd/playlists/
**/playlists/*.m3u
**/playlists/*.m3u8
