@import "/home/yuki/.cache/hellwal/waybar-colors.css";
 
/* Reset all styles */ 

      * {
          border: none;
          border-radius: 0;
          min-height: 0;
          margin: 0;
          padding: 0;
          box-shadow: none;
          text-shadow: none;
          icon-shadow: none;
      }

 /* The whole bar */
 
      #waybar {
          background: @background;          
          font-family: Maple Mono;
	        font-weight: 500;
          font-size: 10pt;
      }

/* Listing modules */
      #battery,
      #clock,
      #pulseaudio,
      #tray,
      #mpris {
          padding-left: 8pt;
          padding-right: 8pt;
      }

/* Workspaces settings */

      #workspaces button {
          /*font-weight: bold;*/
          padding-left: 2pt;
          padding-right: 2pt;
	        color: @color14;
          background: @background;
      }

      #workspaces button.active {
          color: #000000;
          background: @color14;
      }

      #workspaces button.urgent {
          color: #000000;
          background: #a095f3;
      }
     
/* Module settings */

      #pulseaudio {
          background: @color14;
          color: @color0;
      }

      #custom-music {
          color: @color14;
          font-family: Maple Mono;
          font-size: 10pt;
          margin: 2pt;
      }

      #tray {
          background: @color0;
      }

      #tray menu {
	        background-color: alpha(@background, 0.9);
	        padding: 4px;
      }

      #tray menu menuitem {
        	background-image: linear-gradient(to bottom, @color8 100%);
	        margin: 4px;
	        color: @foreground;
          font-family: Maple Mono;
          font-size: 10pt;
	        border-radius: 4px;
	        border-style: solid;
	        border-color: @background;
      }

      #tray menu menuitem:hover {
	        background-image: linear-gradient(to bottom, @color8 100%);
	        color: @foreground;
	        font-weight: bold;
      }

      #clock {
	        color: @color14;
	        margin: 2px;
      }

