@define-color black    rgba(6, 6, 6, 0.7);
@define-color slate #7d7d8d;
@define-color white      #ffffff;

* {
  border: none;
  font-family: "Spectral", serif;
  font-size: 13px;
  font-weight: 400;
}

window#waybar {
  background-color: @black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.01),
    transparent
  );
}

#workspaces {
  padding-left: 20px;
}

#workspaces button {
  color: rgba(209, 209, 209, 0.55);
  padding: 0 16px;
  font-size: 11px;
  transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

#workspaces button.active {
  color: @white;
  background: linear-gradient(
    90deg,
    transparent 0%,
    @slate 50%,
    transparent 100%
  );
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom;
  text-shadow: 0 0 10px rgba(125, 125, 141, 0.4);
}

#workspaces button:hover {
  color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.02);
}

#clock {
  color: @white;
  font-weight: 300;
  letter-spacing: 5px;
  padding: 0 25px;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
  transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

#clock:hover {
  color: @slate;
  text-shadow: 0 0 20px rgba(125, 125, 141, 0.3);
}

#pulseaudio {
  color: #a8a8a8;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  border-left: 1px solid rgba(255, 255, 255, 0.04);
  margin: 6px 0;
  transition: all 0.6s ease;
}

#pulseaudio:hover {
  color: @white;
  text-shadow: 0 0 8px @slate;
}

#pulseaudio.muted {
  color: @slate;
  opacity: 0.9;
  text-shadow: none;
}

#tray {
  padding-right: 25px;
  padding-left: 15px;
  opacity: 0.5;
  transition: all 0.8s ease;
}

#tray:hover {
  opacity: 0.8;
  -gtk-icon-shadow: 0 0 10px @slate;
}

tooltip {
  background: rgba(10, 10, 10, 0.98);
  font-family: "Spectral", serif;
  border: 1px solid rgba(125, 125, 141, 0.2);
}
