/* Reset all styles */ 

      * {
          border: none;
          border-radius: 0;
          min-height: 0;
          margin: 0;
          padding: 0;
          box-shadow: none;
          text-shadow: none;
          icon-shadow: none;
      }

 /* The whole bar */
 
      #waybar {
          background: #0E0E0E;          
          font-family: Maple Mono NL;
	        font-weight: 500;
          font-size: 10pt;
      }

/* Listing modules */
      #battery,
      #clock,
      #pulseaudio,
      #tray,
      #mpris {
          padding-left: 8pt;
          padding-right: 8pt;
      }

/* Workspaces settings */

      #workspaces button {
          /*font-weight: bold;*/
          padding-left: 2pt;
          padding-right: 2pt;
	        color: #83C092;
          background: #0E0E0E;
      }

      #workspaces button.active {
          color: #0E0E0E;
          background: #83C092;
      }

      #workspaces button.urgent {
          color: #E67E80;
          background: #0E0E0E;
      }
     
/* Module settings */

      #pulseaudio {
          background: #83C092;
          color: #232A2E;
      }

      #custom-music {
          color: #83C092;
          font-family: Maple Mono NL;
          font-size: 10pt;
          margin: 2pt;
      }

      #tray {
          background: #0E0E0E;
      }

      #tray menu {
	        background-color: alpha(#0E0E0E, 0.9);
	        padding: 4px;
      }

      #tray menu menuitem {
        	background-image: linear-gradient(to bottom, @color8 100%);
	        margin: 4px;
	        color: #83C092;
          font-family: Maple Mono;
          font-size: 10pt;
	        border-radius: 4px;
	        border-style: solid;
	        border-color: #0E0E0E;
      }

      #tray menu menuitem:hover {
	        background-image: linear-gradient(to bottom, #232A2E 100%);
	        color: #D3C6AA;
	        font-weight: bold;
      }

      #clock {
	        color: #83C092;
	        margin: 2px;
      }

